<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginToApp" />
        <activity android:name=".confirmedBusinessesOfEmployed" />
        <activity android:name=".EmployeesOfBusiness" />

        <service
            android:name=".notificationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".CandidateForWorkScreen" />
        <activity android:name=".EmployedHomePage" />
        <activity android:name=".positionScreen" />
        <activity android:name=".businessHomePage" />
        <activity android:name=".EmployedScreen" />
        <activity android:name=".BusinessScreen" />
        <activity android:name=".chooseUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>